<div class="home-container">
  <div class="details">
    <h2 class="title">Dionisius Andrean Sihombing</h2>
    <h2>Active Learner | Data Scientist | Front End Developer</h2>
    <div class="contact">
      <a
        mat-stroked-button
        href="mailto: andrean.sihombing83@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        id="mail"
      >
        Contact Me</a
      >

      <a
        mat-stroked-button
        href="https://www.linkedin.com/in/andrean-sihombing/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Linkedin
      </a>
      <a
        mat-stroked-button
        href="https://github.com/imandreans"
        target="_blank"
        rel="noopener noreferrer"
        >Github</a
      >
    </div>
  </div>
</div>
